body
{
	background: white;
	font-family: Tahoma, Verdana;
	font-size: 10pt;
}

.headerLink
{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	font-family: Tahoma, Verdana;
	text-decoration: none;
}

.headerWelcome
{
	font-weight: bold;
	font-size: 10pt;
	color: white;
	font-family: Tahoma, Verdana;
}

.bodyText
{
	font-family: Tahoma, Verdana;
	font-size: 10pt;
}