html, body {
height: 100%; /* Required */
}
body {
	margin : 0;
	padding : 0;
	font : 75% "Trebuchet MS", verdana, arial, tahoma, sans-serif;
	line-height: 2.5;
	color : #9999CC;
	background : #9999CC url(img/bg.jpg) repeat-y top center;
}
			/*CONTAINER*/
#container {
position: relative;
min-height: 100%;
width : 733px;
margin : 0 auto;
padding-bottom: 30px;
}
* html #container {
height: 100%;
}
			/*BANNER*/
#banner {
height : 70px;
padding-left : 0px;
margin-top : 0;
color : #666;
width : 750px;
background : #7dce27 url(img/gensym-banner.jpg) no-repeat;
}
#banner h1 {
margin-top : 0;
padding : 5px 5px 0 0;
font : 170% verdana, "Trebuchet MS", arial, tahoma, sans-serif;
text-align : right;
letter-spacing : 5px;
color : #4B2207;
background : inherit;
}
			/*TOP NAVIGATION*/
#navlist {
padding : 0.5em 0;
margin : 0 0 20px 0;
text-align : left;
width : 750px;
letter-spacing : 5px;
background : #BC5510;
}
#navlist li {
list-style : none;
margin : 0;
display : inline;
}
#navlist li a {
padding : 0.5em 0.5em;
margin: 0;
color : #000;
background : #BC5510;
text-decoration : none;
}
#navlist li a:link,#navlist li a:visited {
color : #000;
background : #BC5510;
}
#navlist li a:hover {
color : yellow;
background : transparent url(img/menu_arrow.gif) bottom center no-repeat;
}
#navlist li a#current {
color :  #fff;
background : transparent url(img/menu_arrow.gif) bottom center no-repeat;
}
			/*MAIN CONTENT*/
#content {
	padding : 10px;
	margin-left: 30px;
	margin-bottom: 0px;
	color : #666;
	background : #fff;
}
#content h2 {
margin : 0 0 0 0;
font : 130% verdana, "Trebuchet MS", arial, tahoma, sans-serif;
padding : 5px;
text-transform : uppercase;
letter-spacing : 5px;
color : #833B0B;
background : inherit;
}
			/*SIDEBAR*/
#sidebar {
float : left;
width : 180px;
margin : 0 10px 0 0;
padding : 10px;
border-right : 1px solid #eee;
color : #666;
}
#sidebar a {
color : #333;
background : inherit;
}
#sidebar a:hover {
color : #B29B35;
background : inherit;
}
#sidebar {
float : left;
width : 180px;
margin : 0 10px 0 0;
padding : 10px;
border-right : 1px solid #eee;
color : #666;
}
#sidebar a {
color : #333;
background : inherit;
}
#sidebar a:hover {
color : #B29B35;
background : inherit;
}
.navlist ul li {
margin : 0 15px 0 0;
padding : 0;
list-style-type : square;
color : #BC5510;
background : inherit;
}
			/*FOOTER*/
#footer {
clear:both;
position: absolute;
bottom: 0;
width: 750px;
border-top: 1px solid #eee;
background: #eee;
} 
#footer p {
margin-left: 5px;
}
			/*LINK PROPERTIES*/
a {
text-decoration : none;
color : #BC5510;
}
a:hover {
text-decoration : none;
color : #1E99EB;
}
a img {
border : 0;
}
			/*IMAGE PROPERTIES*/
.noborder {
float : left;
margin-right: 10px;
padding :0 10px;
}
			/*TYPOGRAPHY*/
blockquote {
font-weight : bold;
font-style : italic;
color : #B29B35;
}
			/*CLASSES*/
 
            .style1
            {
                background-color: #7DCE27;
                background-repeat: inherit;
                background-attachment: inherit;
                background-position: inherit;
            }
            .style2
            {
                width: 271px;
            }
            .style5
            {
                width: 96%;
            }
            .style6
            {
                width: 93%;
            }
            .style7
            {
                width: 81%;
	margin-right: 0px;
}
            .style8
            {
                left: -8px;
                top: 0px;
                width: 723px;
            }
            .style9
            {
                width: 166px;
            }
            .style10
            {
                width: 160px;
            }
            .style12
            {
                width: 330px;
            }
            .style13
            {
                width: 199px;
            }
             .control_width
            {
                width: 220px;
                height : 18px;
            }
            
.POP_LAYER {
width: 100%;
height: 900px;
min-height:900px;
position: absolute;
z-index: 1;
overflow: hidden;
left: 0px;
padding-top: 0%;
width:750px;
/*opacity: .5;
filter: alpha(opacity=0);*/
background-color:Transparent;
}

.POP_LAYER_NONE {
z-index: -1;
display:none;
} 