#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
// English (U.S.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

NORMALGENSYM_INI TEXTFILE MOVEABLE PURE  "SkinFramework\\Styles\\GensymTWNG\\res\\NormalGensym.ini"
GENSYM_FRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\FrameCaption.png"
GENSYM_SMALLFRAMECAPTION_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SmallFrameCaption.png"
GENSYM_FRAMELEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\FrameLeft.png"
GENSYM_FRAMERIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\FrameRight.png"
GENSYM_FRAMEBOTTOM_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\FrameBottom.png"
GENSYM_CAPTIONBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\CaptionButton.png"
GENSYM_CLOSEGLYPH13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\CloseGlyph13.png"
GENSYM_CLOSEGLYPH19_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\CloseGlyph19.png"
GENSYM_MAXIMIZEGLYPH13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\MaximizeGlyph13.png"
GENSYM_MAXIMIZEGLYPH19_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\MaximizeGlyph19.png"
GENSYM_RESTOREGLYPH13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\RestoreGlyph13.png"
GENSYM_RESTOREGLYPH19_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\RestoreGlyph19.png"
GENSYM_MINIMIZEGLYPH13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\MinimizeGlyph13.png"
GENSYM_MINIMIZEGLYPH19_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\MinimizeGlyph19.png"
GENSYM_HELPGLYPH13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\HelpGlyph13.png"
GENSYM_HELPGLYPH19_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\HelpGlyph19.png"
GENSYM_BUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\Button.png"
GENSYM_CHECKBOX13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\CheckBox13.png"
GENSYM_RADIOBUTTON13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\RadioButton13.png"
GENSYM_GROUPBOX_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\GroupBox.png"
GENSYM_TOOLBARBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarBackground.png"
GENSYM_TOOLBARGRIPPER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarGripper.png"
GENSYM_TOOLBARGRIPPERVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarGripperVert.png"
GENSYM_TOOLBARBUTTONS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarButtons.png"
GENSYM_SEPARATOR_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\Separator.png"
GENSYM_SEPARATORVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SeparatorVert.png"
GENSYM_TOOLBARBUTTONSSPLIT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarButtonsSplit.png"
GENSYM_TOOLBARBUTTONSSPLITDROPDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarButtonsSplitDropdown.png"
GENSYM_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ToolbarButtonsSplitDropdownGlyph.png"
GENSYM_STATUSBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\StatusBackground.png"
GENSYM_STATUSPANE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\StatusPane.png"
GENSYM_RESIZEGRIP2_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ResizeGrip2.png"
GENSYM_LISTVIEWHEADERBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ListviewHeaderBackground.png"
GENSYM_LISTVIEWHEADER_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ListViewHeader.png"
GENSYM_PROGRESSTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ProgressTrack.png"
GENSYM_PROGRESSCHUNK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ProgressChunk.png"
GENSYM_PROGRESSTRACKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ProgressTrackVert.png"
GENSYM_PROGRESSCHUNKVERT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ProgressChunkVert.png"
GENSYM_TABPANEEDGE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TabPaneEdge.png"
GENSYM_TABITEMTOP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TabItemTop.png"
GENSYM_TABITEMTOPLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TabItemTopLeft.png"
GENSYM_TABBACKGROUND_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TabBackground.png"
GENSYM_TABBACKGROUND133_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TabBackground133.png"
GENSYM_TRACKBARHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TrackbarHorizontal.png"
GENSYM_TRACKBARUP13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TrackBarUp13.png"
GENSYM_TRACKBARDOWN13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TrackBarDown13.png"
GENSYM_TRACKBARVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TrackbarVertical.png"
GENSYM_TRACKBARLEFT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TrackBarLeft13.png"
GENSYM_TRACKBARRIGHT13_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TrackbarRight13.png"
GENSYM_SLIDERTRACK_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\sliderTrack.png"
GENSYM_TREEEXPANDCOLLAPSE_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TreeExpandCollapse.png"
GENSYM_TREEEXPANDCOLLAPSE10_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TreeExpandCollapse10.png"
GENSYM_TREEEXPANDCOLLAPSE15_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\TreeExpandCollapse15.png"
GENSYM_SPINBUTTONBACKGROUNDUP_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinButtonBackgroundUp.png"
GENSYM_SPINUPGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinUpGlyph.png"
GENSYM_SPINBUTTONBACKGROUNDDOWN_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinButtonBackgroundDown.png"
GENSYM_SPINDOWNGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinDownGlyph.png"
GENSYM_SPINBUTTONBACKGROUNDRIGHT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinButtonBackgroundRight.png"
GENSYM_SPINRIGHTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinRightGlyph.png"
GENSYM_SPINBUTTONBACKGROUNDLEFT_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinButtonBackgroundLeft.png"
GENSYM_SPINLEFTGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\SpinLeftGlyph.png"
GENSYM_SCROLLARROWS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollArrows.png"
GENSYM_SCROLLARROWGLYPHS_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollArrowGlyphs.png"
GENSYM_SCROLLTHUMBHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollThumbHorizontal.png"
GENSYM_SCROLLTHUMBGRIPPERHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollThumbGripperHorizontal.png"
GENSYM_SCROLLTHUMBVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollThumbVertical.png"
GENSYM_SCROLLTHUMBGRIPPERVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollThumbGripperVertical.png"
GENSYM_SCROLLSHAFTHORIZONTAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollShaftHorizontal.png"
GENSYM_SCROLLSHAFTVERTICAL_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ScrollShaftVertical.png"
GENSYM_COMBOBUTTON_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ComboButton.png"
GENSYM_COMBOBUTTONGLYPH_PNG PNG MOVEABLE PURE "SkinFramework\\Styles\\GensymTWNG\\res\\ComboButtonGlyph.png"

THEMES_INI TEXTFILE MOVEABLE PURE  "SkinFramework\\Styles\\GensymTWNG\\res\\Themes.ini"

#ifdef _XTP_INCLUDE_VERSION
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 15,1,3,0908
 PRODUCTVERSION 15,1,3,0908
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "Comments", "January 19, 2012\0"
            VALUE "CompanyName", "Codejock Software\0"
            VALUE "FileDescription", "Office 2007 Visual Style\0"
            VALUE "FileVersion", "15, 1, 3, 0908\0"
            VALUE "InternalName", "GensymTWNG.cjstyle\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "GensymTWNG.cjstyle\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "Gensym TWNG Visual Style for Xtreme Skin Framework\0"
            VALUE "ProductVersion", "15, 1, 3, 0908\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END



STRINGTABLE DISCARDABLE
BEGIN
    5000                    "Gensym TWNG Style"
END

#endif

#endif    // English (U.S.) resources

