blockquote,code,div,p,pre,ol,ul,td,th {
	font-size:small;
}
blockquote,div,h1,h2,h3,h4,i,ol,p,td,th,ol,ul {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
body {
	background: white;
}
code {
	white-space: nowrap;
}
code,pre {
	font-family: "Courier New", Courier, monospace;
}
h1 {
	font-size:x-large;
}
h2 {
	font-size:large;
}
h3 {
	font-size:medium;
	font-style:italic;
}
h4 {
	font-size:small;
}
h1,h2,h3,h4,hr {
	clear: both;
}
img {
	border-style: none;
}
pre {
	background-color:#ddd;
	padding:0.5em;
}
table {
	border-collapse:collapse;
}
td,th {
	padding: 0.2em;
	text-align: left;
	vertical-align: top;
}
.reverse a:link, .reverse a:visited {
	color: white;
	text-decoration: none;
}
.reverse a:hover {
	color: navy;
	text-decoration: underline;
}
