.BasicPage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #f0f0ff
}
.McCenter {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
.CodeSnip {
	FONT-SIZE: 8pt
}
.NavMenuTop {
	TEXT-ALIGN: center
}
.NavMenuTop DIV {
	MARGIN: 2px; LINE-HEIGHT: 100%; BACKGROUND-COLOR: #ccccdd; TEXT-ALIGN: center
}
.NavMenuTop A:link {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: none
}
.NavMenuTop A:visited {
	FONT-SIZE: 8pt; COLOR: #000000; LINE-HEIGHT: 120%; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: none
}
.NavMenuTop A:hover {
	FONT-SIZE: 8pt; COLOR: #0000ff; LINE-HEIGHT: 120%; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: underline
}
A.m2:link {
	COLOR: #888899; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: none
}
A.m2:visited {
	COLOR: #888899; FONT-FAMILY: Arial,sans-serif; TEXT-DECORATION: none
}
A.m2:hover {
	COLOR: #333333; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: underline
}
.TitleCategory {
	FONT-SIZE: 12pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.TitleHead {
	FONT-SIZE: 17pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.TitleSubhead {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.SecHeader {
	FONT-SIZE: 15pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.SecBody {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.SecBody TD {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.QuoteText {
	FONT-SIZE: 8pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.PageTOC {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, sans-serif
}
.CodeInset {
	BORDER-RIGHT: #9999cc 1px solid; BORDER-TOP: #9999cc 1px solid; FONT-SIZE: 9pt; BORDER-LEFT: #9999cc 1px solid; WIDTH: 80%; BORDER-BOTTOM: #9999cc 1px solid; BACKGROUND-COLOR: #ccccdd; TEXT-ALIGN: left
}
DIV.HPSubHead {
	FONT-WEIGHT: bold; FONT-SIZE: 12pt; FONT-FAMILY: "arial", "sans-serife"
}
DIV.HPtxt {
	FONT-SIZE: 9pt; FONT-FAMILY: "arial", "sans-serife"
}
TD.SmSpc {
	FONT-SIZE: 7pt
}
TD.TinySpc {
	FONT-SIZE: 4pt
}
TD.SecDiv {
	FONT-SIZE: 1pt; LINE-HEIGHT: 100%; HEIGHT: 1pt
}
INPUT.sm {
	FONT-SIZE: 8pt
}
SELECT.sm {
	FONT-SIZE: 8pt
}
TEXTAREA.sm {
	FONT-SIZE: 8pt; LINE-HEIGHT: 100%
}
FONT.BigBig {
	FONT-SIZE: 150pt
}
A:link {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000cc; TEXT-DECORATION: none
}
A:hover {
	COLOR: #3333ff; TEXT-DECORATION: underline
}
A:active {
	COLOR: #0000cc
}
A.HTBox:link {
	FONT-SIZE: 7pt; COLOR: #3333bb; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: underline
}
A.HTBox:visited {
	FONT-SIZE: 7pt; COLOR: #3399bb; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: underline
}
A.HTBox:hover {
	FONT-SIZE: 7pt; COLOR: #3399bb; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: none
}
A.Ped:link {
	FONT-SIZE: 8pt; COLOR: #6666dd; FONT-FAMILY: Arial,sans-serif; TEXT-DECORATION: underline
}
A.Ped:visited {
	FONT-SIZE: 8pt; COLOR: #6666dd; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: underline
}
A.Ped:hover {
	FONT-SIZE: 8pt; COLOR: #00aaaa; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: underline
}
TD.Ped {
	FONT-SIZE: 8pt; COLOR: #333399; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: none
}
TD.PedHead {
	FONT-SIZE: 9pt; COLOR: #333399; FONT-FAMILY: Arial,Sans-serif; TEXT-DECORATION: none
}
